# Vamos aplicar o que aprendemos sobre os pandas dataframes


*   Complete com o código em falta
*   Sempre que necessário, **substitua** ___

---

dataset: [fonte](https://www.kaggle.com/datasets/crawford/80-cereals)

---

Corra a primeira célula de código para obter o dataframe com que vamos trabalhar

In [1]:
# faça o upload do ficheiro csv associado à atividade

# vamos importar a biblioteca
import pandas as pd

# vamos importar o dataframe do ficheiro .csv
df_cereals = pd.read_csv("cereal.csv")

In [9]:
df_cereals

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [7]:
# veja as 5 primeiras linhas do dataframe
df_cereals.head()

# veja a forma do dataframe: quantas linhas, quantas colunas?
df_cereals.shape

# veja a informação sobre o dataframe
df_cereals.info()

# veja a descrição das variáveis numéricas
df_cereals.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [22]:
df_cereals[["protein", "fat"]].agg(["min", "max"])

     protein  fat
min        1    0
max        6    5

In [ ]:
# encontre a média de sodio (sodium)
df_cereals["sodium"].mean

# encontre a mediana de proteína e de gordura (protein, fat)
df_cereals[["protein", "fat"]].median()

# encontre o mínimo e máximo do valor de fibras (sodium, fiber)
df_cereals[["protein", "fat"]].agg(["min", "max"])

In [ ]:
df_cereals["mfr"].value_counts()

mfr
K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: count, dtype: int64

In [ ]:
# conte o número de cereais vendidos por marca
df_cereals["mfr"].value_counts()

# conte o número de cereais por tipo (type) em ordem ascendente e em freq. rel.
df_cereals["type"].value_counts(sort = True, ascending = True, normalize = True)

In [32]:
df_cereals["type"].value_counts(sort = True, ascending = True, normalize = True)

type
H    0.038961
C    0.961039
Name: proportion, dtype: float64

In [34]:
df_cereals_cal_by_mfr = df_cereals.groupby("mfr")["calories"].mean()
df_cereals_cal_by_mfr

mfr
A    100.000000
G    111.363636
K    108.695652
N     86.666667
P    108.888889
Q     95.000000
R    115.000000
Name: calories, dtype: float64

In [ ]:
# agrupe os cerais por marca (mfr) e veja a média de calorias (calories)
df_cereals_cal_by_mfr = df_cereals.groupby("mfr")["calories"].mean()

# use a função de sort_values no grupo anterior para ordenar em sentido desc.
df_cereals_cal_by_mfr.sort_values(ascending = False)

# agrupe pelo tipo (type) e marca (mfr) e veja o valor min e max de sodio (sodium)
df_cereals.groupby(["type", "mfr"])["sodium"].agg(["min", "max"])

In [43]:
df_cereals.groupby(["type", "mfr"])["sodium"].agg(["min", "max"])

          min  max
type mfr
C    G    140  290
     K      0  320
     N      0  130
     P     45  210
     Q      0  220
     R     95  280
H    A      0    0
     N     80   80
     Q      0    0

In [ ]:
# faça uma tabela pivô com a média de calorias (calories) por marca (mfr)
df_cereals.pivot_table(values = "___", index = "___")

# faça a mesma tabela pivô, mas com o máximo das gorduras (fat)
df_cereals.pivot_table___

# faça a mesma tabela pivô, mas com o max, a média e o min do açúcar (sugars)
df_cereals.pivot_table___

# faça a mesma tabela pivô mas por marca (mfr) e tipo (type)
df_cereals.pivot_table___

# faça uma tabela pivô do máximo de rating por marca (mfr) e tipo (type)
df_cereals.pivot_table___

# faça a mesma tabela pivô mas com os totais visíveis
df_cereals.pivot_table(values = "rating", 
                       index = "mfr", 
                       columns = "type", 
                       aggfunc = "max", 
                       margins = True)

# faça a mesma tabela usando ainda o argumento fill_value = 0
df_cereals.pivot_table(values = "rating", 
                       index = "mfr", 
                       columns = "type", 
                       aggfunc = "max", 
                       margins = True, 
                       fill_value = 0)